In [2]:
import json
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
import joblib

In [5]:
features = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race" , "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

In [52]:
data_train = pd.read_csv("adult.data", sep=" ", header=None)
data_train.columns = features
data_train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,"39,","State-gov,","77516,","Bachelors,","13,","Never-married,","Adm-clerical,","Not-in-family,","White,","Male,","2174,","0,","40,","United-States,",<=50K
1,"50,","Self-emp-not-inc,","83311,","Bachelors,","13,","Married-civ-spouse,","Exec-managerial,","Husband,","White,","Male,","0,","0,","13,","United-States,",<=50K
2,"38,","Private,","215646,","HS-grad,","9,","Divorced,","Handlers-cleaners,","Not-in-family,","White,","Male,","0,","0,","40,","United-States,",<=50K
3,"53,","Private,","234721,","11th,","7,","Married-civ-spouse,","Handlers-cleaners,","Husband,","Black,","Male,","0,","0,","40,","United-States,",<=50K
4,"28,","Private,","338409,","Bachelors,","13,","Married-civ-spouse,","Prof-specialty,","Wife,","Black,","Female,","0,","0,","40,","Cuba,",<=50K

In [8]:
X_train = data_train[features[:-1]]
y_train = data_train["income"]
print(X_train.shape, y_train.shape)

(32561, 14) (32561,)

In [48]:
len(data_train)

32561

In [50]:
data_test = pd.read_csv("F:/Django/ml_system_example/adult.test", sep=", ")
# data_test.columns = features
data_test.head()

c:\Users\PC\.conda\envs\venv_ml_system\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

                                                                                                                        |1x3 Cross validator
25 Private   226802 11th         7  Never-married      Machine-op-inspct Own-child Black Male   0    0 40 United-States               <=50K.
38 Private   89814  HS-grad      9  Married-civ-spouse Farming-fishing   Husband   White Male   0    0 50 United-States               <=50K.
28 Local-gov 336951 Assoc-acdm   12 Married-civ-spouse Protective-serv   Husband   White Male   0    0 40 United-States                >50K.
44 Private   160323 Some-college 10 Married-civ-spouse Machine-op-inspct Husband   Black Male   7688 0 40 United-States                >50K.
18 ?         103497 Some-college 10 Never-married      ?                 Own-child White Female 0    0 30 United-States               <=50K.

In [69]:
data_test[['|1x3 Cross validator']]

                                                                                                                                             |1x3 Cross validator
25 Private      226802 11th         7  Never-married      Machine-op-inspct Own-child      Black              Male   0    0 40 United-States               <=50K.
38 Private      89814  HS-grad      9  Married-civ-spouse Farming-fishing   Husband        White              Male   0    0 50 United-States               <=50K.
28 Local-gov    336951 Assoc-acdm   12 Married-civ-spouse Protective-serv   Husband        White              Male   0    0 40 United-States                >50K.
44 Private      160323 Some-college 10 Married-civ-spouse Machine-op-inspct Husband        Black              Male   7688 0 40 United-States                >50K.
18 ?            103497 Some-college 10 Never-married      ?                 Own-child      White              Female 0    0 30 United-States               <=50K.
...                                                                                                                                                           ...
39 Private      215419 Bachelors    13 Divorced           Prof-specialty    Not-in-family  White              Female 0    0 36 United-States               <=50K.
64 ?            321403 HS-grad      9  Widowed            ?                 Other-relative Black              Male   0    0 40 United-States               <=50K.
38 Private      374983 Bachelors    13 Married-civ-spouse Prof-specialty    Husband        White              Male   0    0 50 United-States               <=50K.
44 Private      83891  Bachelors    13 Divorced           Adm-clerical      Own-child      Asian-Pac-Islander Male   5455 0 40 United-States               <=50K.
35 Self-emp-inc 182148 Bachelors    13 Married-civ-spouse Exec-managerial   Husband        White              Male   0    0 60 United-States                >50K.

[16281 rows x 1 columns]

In [67]:
df = data_test[['|1x3 Cross validator']].copy()
df

                                                                                                                                             |1x3 Cross validator
25 Private      226802 11th         7  Never-married      Machine-op-inspct Own-child      Black              Male   0    0 40 United-States               <=50K.
38 Private      89814  HS-grad      9  Married-civ-spouse Farming-fishing   Husband        White              Male   0    0 50 United-States               <=50K.
28 Local-gov    336951 Assoc-acdm   12 Married-civ-spouse Protective-serv   Husband        White              Male   0    0 40 United-States                >50K.
44 Private      160323 Some-college 10 Married-civ-spouse Machine-op-inspct Husband        Black              Male   7688 0 40 United-States                >50K.
18 ?            103497 Some-college 10 Never-married      ?                 Own-child      White              Female 0    0 30 United-States               <=50K.
...                                                                                                                                                           ...
39 Private      215419 Bachelors    13 Divorced           Prof-specialty    Not-in-family  White              Female 0    0 36 United-States               <=50K.
64 ?            321403 HS-grad      9  Widowed            ?                 Other-relative Black              Male   0    0 40 United-States               <=50K.
38 Private      374983 Bachelors    13 Married-civ-spouse Prof-specialty    Husband        White              Male   0    0 50 United-States               <=50K.
44 Private      83891  Bachelors    13 Divorced           Adm-clerical      Own-child      Asian-Pac-Islander Male   5455 0 40 United-States               <=50K.
35 Self-emp-inc 182148 Bachelors    13 Married-civ-spouse Exec-managerial   Husband        White              Male   0    0 60 United-States                >50K.

[16281 rows x 1 columns]